/*.header {
  line-height: 1.6em;
  background: #202020;
}

.pure-menu-selected .pure-menu-link {
  color: #fff !important;
}

.pure-menu-active > .pure-menu-link, .pure-menu-link:hover, .pure-menu-link:focus {
    background-color: #eee;
    color: #000;
}*/

html, body {
  overflow: hidden;
}

.app-body {
  margin: 10px 0;
}

.is-clickable {
  cursor: pointer;
}